#account {
  align-items: center;
  bottom: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
}

#account > div > p {
  background-image: url( ../img/check.box.color.svg );
  background-position: left center;
  background-repeat: no-repeat;
  background-size: 20px;
  color: rgba( 0, 0, 0, 0.84 );
  font-size: 13px;
  height: 40px;
  line-height: 40px;
  margin: 0 0 16px 16px;
  padding: 0 0 0 28px;
}

#account > div > div.form {
  align-items: center;
  height: 72px;
  position: relative;
}

#account > div > div.form > button {
  background: none;
  background-color: #2196F3;
  border: none;
  border-radius: 2px;
  color: white;
  font-size: 14px;
  font-weight: 500;
  height: 36px;
  margin: 0 16px 0 16px;
  padding: 0 16px 0 16px;
  outline: none;
  text-transform: uppercase;
  width: 100%;
}

#account > div > div.form > button.disabled {

}

#account > div > div.form > div.input {
  display: block;
  height: 72px;
  left: 0;
  position: absolute;
  right: 0;
}

#account > div > div.form > div.input > p {
  font-size: 12px;
  margin: 16px 0 0 16px;
  padding: 0;
  position: absolute;
}

#account > div > div.form > div.input > p.selected {
  color: #2196F3;  
}

#account > div > div.form > div.input > div.divider {
  background-color: rgba( 0, 0, 0, 0.12 );
  bottom: 8px;
  height: 1px;
  left: 16px;
  position: absolute;
  right: 16px;
}

#account > div > div.form > div.input > div.divider.selected {
  background-color: #2196F3;
  height: 2px;
}

#account > div > div.form > div.input > div.divider.invalid {
  background-color: #F44336;
}

#account > div > div.form > div.input > span {
  bottom: 16px;
  display: block;
  position: absolute;
  left: 16px;
  right: 16px;
}


::-webkit-input-placeholder {
  color: rgba( 0, 0, 0, 0.50 );
}

#account > div > div.form > div.input > span > input {
  border: none;
  font-size: 16px;
  margin: 0;
  outline: none;
  padding: 0;
  width: 100%;
}

#account > div {
  background-color: white;
  border-radius: 2px;
  box-shadow: 0 2px 5px rgba( 0, 0, 0, 0.26 );    
  width: 300px;
}

#account > div > div {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

#account > div > div > .photo {
  background-image: url( ../img/account.black.svg );
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 56px;
  height: 56px;
  margin: 16px 10px 16px 10px;
  opacity: 0.38;
  width: 56px;
}

#create {
  color: #2196F3;
  cursor: default;
  font-size: 14px;
}
