#energy {
  background-color: white;
  border-bottom: 1px solid rgba( 0, 0, 0, 0.12 );  
  display: flex;
  flex-direction: row;
  height: 56px;
  justify-content: center;
}

#energy > div:first-of-type {
  background-image: url( ../img/energy.black.svg );
  background-position: center;
  background-repeat: no-repeat;
  background-size: 24px;  
  height: 56px;
  opacity: 0.54;
  width: 56px;
}

#energy > div:last-of-type {
  height: 56px;
  width: 56px;
}

#energy > div.list {
  display: flex;
  flex-direction: row;
  flex-grow: 1;
  height: 56px;
  justify-content: center;  
}

#energy > div.list > button {
  background: none;
  border: none;
  border-top: solid 2px white;
  font-size: 14px;
  font-weight: 500;  
  height: 56px;
  margin: 0;
  outline: none;
  padding: 0;
  width: calc( 100% / 7 );  
}

#energy > div.list > button.selected {
  background-color: #E3F2FD;  
  border-top: 2px solid #2196F3; 
  color: #2196F3; 
}
