#list {
  bottom: 228px;
  display: none;
  flex-grow: 1;
  left: 0;
  opacity: 0;
  overflow: auto;
  position: absolute;
  right: 0;
  top: 56px;
  transition: opacity 0.50s;  
}

#list button.trash {
  background: none;
  background-image: url( ../img/delete.black.svg );
  background-position: center;
  background-repeat: no-repeat;
  background-size: 24px;
  border: none;
  height: 48px;
  opacity: 0.54;
  outline: none;
  width: 48px;  
}
