<link rel="import" href="/bower_components/polymer/polymer-element.html">
<link rel="import" href="/components/toodles-complete.html">
<link rel="import" href="/components/toodles-tags.html">
<link rel="import" href="/components/toodles-remain.html">
<link rel="import" href="/components/toodles-combo.html">

<dom-module id="toodles-item">
  <template>
    <style>
      :host {
        background-color: white;  
        border-radius: 2px;
        box-shadow: 0 2px 5px rgba( 0, 0, 0, 0.26 );  
        display: flex;
        flex-direction: column;
        margin: 0 0 16px 0;
      }

      input {
        background: none;
        border: none;
        color: rgba( 0, 0, 0, 0.87 );   
        flex-grow: 1;
        font-size: 14px;  
        line-height: 48px;
        margin: 0;
        outline: 0;
        padding: 0;        
      }

      textarea {
        border: none;
        color: rgba( 0, 0, 0, 0.87 );
        flex-grow: 1; 
        height: 96px;
        outline: none;
        font-size: 14px;
        padding-top: 15px;
      }

      #duration {
        border-left: solid 1px rgba( 0, 0, 0, 0.12 );
      }

      #energy {
        border-left: solid 1px rgba( 0, 0, 0, 0.12 );
      }

      #location {
        border-left: solid 1px rgba( 0, 0, 0, 0.12 );
      }

      .details {
        display: none;
        flex-direction: column;        
      }

      .label {
        border: none;
        color: rgba( 0, 0, 0, 0.87 );
        cursor: default;
        flex-grow: 1;
        font-size: 16px;
        line-height: 48px;
        margin: 0 16px 0 0;
        outline: none;
        padding: 0;        
      }

      .notes {
        background-image: url( /img/note.black.svg );
        background-position: center;
        background-repeat: no-repeat;
        background-size: 24px;
        height: 48px;
        opacity: 0.54;
        width: 48px;        
      }

      .row {
        border-top: solid 1px rgba( 0, 0, 0, 0.12 );  
        display: flex;
        flex-direction: row;
      }

      .summary {
        display: flex;
        flex-direction: row;
        height: 48px;        
      }

      .tags {
        background-image: url( /img/offer.black.svg );
        background-position: center;
        background-repeat: no-repeat;
        background-size: 24px;
        height: 48px;
        opacity: 0.54;
        width: 48px;        
      }
    </style>
    <div class="summary">
      <toodles-complete id="complete" on-complete_change="onCompleteChange"></toodles-complete>
      <input id="label" class="label" value="[[task.name]]" on-focus="onLabelFocus">
      <toodles-tags id="summary_tags" on-tags_change="onTagsChange"></toodles-tags>
      <toodles-remain id="remain"></toodles-remain>
    </div>
    <div id="details" class="details">
      <div class="row">
        <div class="tags"></div>
        <toodles-tags id="detail_tags" on-tags_change="onTagsChange" editable></toodles-tags>
        <input>
      </div>
      <div class="row">
        <toodles-combo icon="/img/event.black.svg"></toodles-combo>
        <toodles-combo 
          id="location" 
          icon="/img/location.black.svg">
        </toodles-combo>
        <toodles-combo 
          id="duration" 
          icon="/img/duration.black.svg"
          items="Any,< 30 mins.,30 - 60 mins.,1 - 2 hrs.,> 4 hrs."
          selected="4">    
        </toodles-combo>
        <toodles-combo 
          id="energy" 
          icon="/img/energy.black.svg" 
          items="Any,Low,Normal,High"
          selected="2">
        </toodles-combo>        
      </div>
      <div class="row">
        <div class="notes"></div>
        <textarea id="notes" placeholder="Notes"></textarea>
      </div>
    </div>
  </template>
  <script>
    class Item extends Polymer.Element {  
      static get is() { return 'toodles-item' }

      connectedCallback() {
        super.connectedCallback();
        this.opened = false;
      }

      static get properties() {
        return {
        	task: {
            type: Object,
            observer: 'onTask'
          }
        }
      }

      close() {
        this.$.label.blur();
        this.$.details.style.display = 'none';
        this.$.summary_tags.show();

        if( this.task.complete ) {
          this.style.opacity = 0.38;
          this.$.remain.hide();
        } else {
          this.style.opacity = 1;
          this.$.remain.show();
        }

        this.opened = false;
      }

      open() {
        this.style.opacity = 1;
        this.$.summary_tags.hide();
        this.$.remain.hide();
        this.$.details.style.display = 'flex';        

        this.opened = true;
      }

      onCompleteChange( evt ) {
        this.task.complete = evt.detail.selected;

        if( this.task.complete ) {
          if( !this.opened ) {
            this.style.opacity = 0.38;
            this.$.remain.hide();
          }
        } else {
          this.style.opacity = 1;

          if( !this.opened ) {
            this.$.remain.show();
          }
        }        
      }

      onLabelFocus( evt ) {
        this.open();
        this.dispatchEvent( new CustomEvent( Item.OPEN, null ) );
      }

      onTagsChange( evt ) {
        console.log( 'Tags changed.' );
        console.log( evt.detail.tags );
      }

      onTask( value, old ) {
        // Complete
        this.$.complete.selected = this.task.complete;

        if( this.task.complete ) {
          this.style.opacity = 0.38;
          this.$.remain.hide();
        } else {
          this.style.opacity = 1;
          this.$.remain.show();
        }

        // Name set through binding

        // Tags (summary and editable detail list)
        this.$.summary_tags.list = this.task.tags.split( ',' );
        this.$.detail_tags.list = this.task.tags.split( ',' );

        // Time until due
        if( this.task.due > 0 ) {
          this.$.remain.due = this.task.due;
        } else {
          this.$.remain.hide();
        }

        // Location
        // Duration
        // Energy

        // Notes
        this.$.notes.value = this.task.notes;
      }
    }

    Item.OPEN = 'item_open';

    customElements.define( Item.is, Item );    
  </script>
</dom-module>
