<link rel="import" href="/bower_components/polymer/polymer-element.html">
<link rel="import" href="/components/toodles-chip.html">

<dom-module id="toodles-tags">
  <template>
    <style>
      :host {
        display: flex;
        flex-direction: row;
        height: 48px;
      }
    </style>
    <slot></slot>
  </template>
  <script>
    class Tags extends Polymer.Element {  
      static get is() { return 'toodles-tags' }

      connectedCallback() {
        super.connectedCallback();
      }

      static get properties() {
        return {
          list: {
            type: Array,
            observer: 'onList',
            value: []
          }, 
          editable: {
            type: Boolean,
            value: false
          }
        }
      }

      doRemove( evt ) {
        for( let t = 0; t < this.list.length; t++ ) {
          if( this.list[t] == evt.detail.label ) {
            this.list.splice( t, 1 );
            break;
          }
        }

        evt.target.remove();

        this.dispatchEvent( new CustomEvent( Tags.CHANGE, {
          detail: {
            tags: this.list
          }
        } ) );          
      }

      onList( value, old ) {
        // Remove previous
        while( this.children.length > 0 ) {
          this.children[0].remove();
        }

        // Build list
        for( let t = 0; t < this.list.length; t++ ) {
          let chip = document.createElement( 'toodles-chip' );
          chip.addEventListener( Chip.REMOVE, evt => this.doRemove( evt ) );

          if( this.editable ) {
            chip.setAttribute( 'editable', this.editable );
          }

          chip.label = this.list[t];
          this.appendChild( chip );
        }
      }

      hide() {
        this.style.display = 'none';
      }

      show() {
        this.style.display = 'flex';
      }      
    }

    Tags.CHANGE = 'tags_change';

    customElements.define( Tags.is, Tags );    
  </script>
</dom-module>
