<link rel="import" href="/bower_components/polymer/polymer-element.html">
<link rel="import" href="/components/toodles-complete.html">
<link rel="import" href="/components/toodles-tags.html">
<link rel="import" href="/components/toodles-remain.html">
<link rel="import" href="/components/toodles-due.html">
<link rel="import" href="/components/toodles-combo.html">

<dom-module id="toodles-item">
  <template>
    <style>
      :host {
        background-color: white;  
        border-radius: 2px;
        box-shadow: 0 2px 5px rgba( 0, 0, 0, 0.26 );  
        display: flex;
        flex-direction: column;
        margin: 0 0 16px 0;
      }

      input {
        background: none;
        border: none;
        color: rgba( 0, 0, 0, 0.87 );   
        flex-grow: 1;
        font-size: 14px;  
        line-height: 48px;
        margin: 0;
        outline: 0;
        padding: 0;        
      }

      textarea {
        border: none;
        color: rgba( 0, 0, 0, 0.87 );
        flex-grow: 1; 
        height: 96px;
        outline: none;
        font-size: 14px;
        padding-top: 15px;
      }

      #duration {
        border-left: solid 1px rgba( 0, 0, 0, 0.12 );
      }

      #energy {
        border-left: solid 1px rgba( 0, 0, 0, 0.12 );
      }

      #location {
        border-left: solid 1px rgba( 0, 0, 0, 0.12 );
      }

      .details {
        display: none;
        flex-direction: column;        
      }

      .label {
        border: none;
        color: rgba( 0, 0, 0, 0.87 );
        cursor: default;
        flex-grow: 1;
        font-size: 16px;
        line-height: 48px;
        margin: 0 16px 0 0;
        outline: none;
        padding: 0;        
      }

      .notes {
        background-image: url( /img/note.black.svg );
        background-position: center;
        background-repeat: no-repeat;
        background-size: 24px;
        height: 48px;
        opacity: 0.54;
        width: 48px;        
      }

      .row {
        border-top: solid 1px rgba( 0, 0, 0, 0.12 );  
        display: flex;
        flex-direction: row;
      }

      .summary {
        display: flex;
        flex-direction: row;
        height: 48px;        
      }

      .tags {
        background-image: url( /img/offer.black.svg );
        background-position: center;
        background-repeat: no-repeat;
        background-size: 24px;
        height: 48px;
        opacity: 0.54;
        width: 48px;        
      }
    </style>
    <div class="summary">
      <toodles-complete id="complete" on-complete_change="onCompleteChange"></toodles-complete>
      <input 
        id="label" 
        class="label" 
        on-focus="onLabelFocus" 
        on-blur="onLabelBlur" 
        on-keypress="onLabelKey">
      <toodles-tags id="summary_tags" on-tags_change="onTagsChange"></toodles-tags>
      <toodles-remain id="remain"></toodles-remain>
    </div>
    <div id="details" class="details">
      <div class="row">
        <div class="tags"></div>
        <toodles-tags id="detail_tags" on-tags_change="onTagsChange"></toodles-tags>
        <input id="add_tag" on-keypress="onTagsKey">
      </div>
      <div class="row">
        <toodles-due id="due" on-due_change="onDue"></toodles-due>
        <toodles-combo 
          id="location"          
          icon="/img/location.black.svg"
          on-combo_change="onLocation">
        </toodles-combo>
        <toodles-combo 
          id="duration" 
          icon="/img/duration.black.svg"
          on-combo_change="onDuration">    
        </toodles-combo>
        <toodles-combo 
          id="energy" 
          icon="/img/energy.black.svg" 
          on-combo_change="onEnergy">
        </toodles-combo>        
      </div>
      <div class="row">
        <div class="notes"></div>
        <textarea id="notes" placeholder="Notes" on-blur="onNotes"></textarea>
      </div>
    </div>
  </template>
  <script>
    class Item extends Polymer.Element {  
      static get is() { return 'toodles-item' }

      connectedCallback() {
        super.connectedCallback();
        this._task = null;
        this.opened = false;
        this.$.detail_tags.editable = true;
      }

      set task( value ) {
        this._task = Object.assign( {}, value );

        // Completed check box
        this.$.complete.selected = this._task.complete;

        // Adjust opacity for completed
        if( this._task.complete ) {
          this.style.opacity = 0.38;
          this.$.remain.hide();
        } else {
          this.style.opacity = 1;
          this.$.remain.show();
        }

        // Name
        this.$.label.value = this._task.name;

        // Tags (summary and editable detail list)
        this.$.summary_tags.list = this._task.tags;
        this.$.detail_tags.list = this._task.tags;

        // Time until due
        if( this._task.due > 0 ) {
          this.$.remain.due = this._task.due;
        } else {
          this.$.remain.hide();
        }

        // Due date proper
        this.$.due.value = this._task.due;        

        // Location
        this.$.location.items = model.locations;
        this.$.location.selected = this._task.location;                
        
        // Duration
        this.$.duration.items = Model.DURATION;
        this.$.duration.selected = this._task.duration;

        // Energy
        this.$.energy.items = Model.ENERGY;
        this.$.energy.selected = this._task.energy;

        // Notes
        this.$.notes.value = this._task.notes;        
      }

      get task() {
        return this._task;
      }

      close() {
        this.$.label.blur();
        this.$.details.style.display = 'none';
        this.$.summary_tags.show();

        if( this.task.complete ) {
          this.style.opacity = 0.38;
          this.$.remain.hide();
        } else {
          this.style.opacity = 1;

          if( this.task.due > 0 ) {
            this.$.remain.show();
          }
        }

        this.opened = false;
      }

      open() {
        this.style.opacity = 1;
        this.$.summary_tags.hide();
        this.$.remain.hide();
        this.$.details.style.display = 'flex';        

        this.opened = true;
      }

      onCompleteChange( evt ) {
        this.task.complete = evt.detail.selected;
        model.taskEdit( this.task );

        if( this.task.complete ) {
          if( !this.opened ) {
            this.style.opacity = 0.38;
            this.$.remain.hide();
          }
        } else {
          this.style.opacity = 1;

          if( !this.opened ) {
            this.$.remain.show();
          }
        }        
      }

      onLabelBlur( evt ) {
        if( this.$.label.value.trim() != this.task.name.trim() ) {
          this.task.name = this.$.label.value.trim();
          model.taskEdit( this.task );
        }
      }

      onLabelFocus( evt ) {
        this.open();
        this.dispatchEvent( new CustomEvent( Item.OPEN, null ) );
      }

      onLabelKey( evt ) {
        if( evt.keyCode == 13 ) {
          if( this.$.label.value.trim() != this.task.name.trim() ) {
            this.task.name = this.$.label.value.trim();
            model.taskEdit( this.task );
          }
        }
      }

      onTagsChange( evt ) {
        console.log( 'Tags changed.' );
        console.log( evt.detail.tags );
        this.task.tags = evt.detail.tags;
        this.$.summary_tags.list = this.task.tags;
      }

      onTagsKey( evt ) {
        if( evt.keyCode == 13 ) {
          this.task.tags = this.task.tags + ',' + this.$.add_tag.value.trim();
          this.$.summary_tags.list = this.task.tags;          
          this.$.detail_tags.list = this.task.tags;
          // TODO: Should not have to call this 
          this.$.detail_tags.editable = true;
          this.$.add_tag.value = '';
        }
      }

      onDue( evt ) {
        this.task.due = evt.detail.due;
        this.$.remain.due = this.task.due;
        model.taskEdit( this.task );        
      }

      onDuration( evt ) {
        this.task.duration = parseInt( evt.detail.item.id );
        model.taskEdit( this.task );        
      }

      onEnergy( evt ) {
        this.task.energy = parseInt( evt.detail.item.id );
        model.taskEdit( this.task );        
      }

      onLocation( evt ) {
        this.task.location = evt.detail.item.id;
        model.taskEdit( this.task );        
      }      

      onNotes( evt ) {
        this.task.notes = this.$.notes.value;
        model.taskEdit( this.task );        
      }            
    }

    Item.OPEN = 'item_open';

    customElements.define( Item.is, Item );    
  </script>
</dom-module>
